.box{
	background: red;
	float: left;
	height: 200px;
	width: 200px;
}
#box-1{
	background: yellow;
}
#box-2{
<<<<<<< HEAD
	background: #000000;
=======
	background: blue;
>>>>>>> Updated box 2 to blue
}
#box-3{
	background: purple;
}
#box-4{
	
}